devcon/src/scripts/n8n/devcon-student-application-ai-analysis-prod.json
{
  "name": "Devcon Student Application AI Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-application-analyze",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1184, 1008],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000001",
      "name": "NocoDB Webhook",
      "webhookId": "student-application-analyze",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s4qe0oPUqidtfYbR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "records.after.insert",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "leftValue": "={{ !!($json.body.data.rows[0].Email) }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Submitted"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Skip"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-880, 1008],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000002",
      "name": "Check Submission"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze this Devcon 8 student ticket application and produce concise reviewer notes (2–4 sentences). Highlight: (1) relevance of background and proof of work to Ethereum/Devcon, (2) credibility signals (institution, year, specificity of PoW), (3) any red flags (vague answers, off-topic content, likely spam). Be neutral and factual. Do NOT include a recommendation or decision.\n\nApplication:\n- Legal name: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['Legal name'] }}\n- University / Organization: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['University / Organization'] }}\n- Year of Study: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['Year of Study'] }}\n- Country: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['Country'] }}\n- Email: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['Email'] }}\n- Email Classification: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['Email Classification'] }}\n- Proof of Work: {{ $('NocoDB Webhook').item.json.body.data.rows[0]['Why do you want to attend Devcon? (Proof of Work)'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [-560, 944],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000003",
      "name": "Analyze Application"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "openai/gpt-oss-120b",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 400,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-560, 1168],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000007",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d9iB26DiUIEDS10z",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "authentication": "nocoDbApiToken",
        "version": 2,
        "projectId": "={{ $('NocoDB Webhook').item.json.body.base_id }}",
        "table": "={{ $('NocoDB Webhook').item.json.body.data.table_id }}",
        "primaryKey": "id",
        "id": "={{ $('NocoDB Webhook').item.json.body.data.rows[0].Id }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Notes",
              "fieldValue": "={{ $json.text || $json.response?.text || $json.output || '' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [-304, 944],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000004",
      "name": "Update Notes",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hzGrJMjnZoxdlWOB",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: 'Analyzed' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-48, 944],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000005",
      "name": "Respond Analyzed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, skipped: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-272, 1360],
      "id": "c3d4e5f6-3333-4444-9555-cccc00000006",
      "name": "Respond Skipped"
    }
  ],
  "pinData": {
    "NocoDB Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "x-webhook-key": "test-secret"
          },
          "body": {
            "type": "records.after.insert",
            "id": "4ace892c-74f1-4aae-b768-1f3a9087b3f5",
            "base_id": "pafi37jhnepkptw",
            "version": "v3",
            "data": {
              "table_id": "mv48rkqyllfpra6",
              "table_name": "Student Application",
              "rows": [
                {
                  "Id": 32,
                  "CreatedAt": "2026-04-23 12:29:47+00:00",
                  "UpdatedAt": null,
                  "Legal name": "Didier",
                  "Submission Date": "2026-04-23 12:29:47+00:00",
                  "Email Classification": "other-indian-university",
                  "Email": "didier.krux@ethereum.org",
                  "University / Organization": "Uni",
                  "Year of Study": "4th Year",
                  "Country": "France",
                  "Why do you want to attend Devcon? (Proof of Work)": "I've been contributing to EIP-4844 research and building rollup infrastructure.",
                  "Status": "To review",
                  "Rating": null,
                  "Notes": null,
                  "Confirmation email sent": null
                }
              ]
            }
          }
        }
      }
    ]
  },
  "connections": {
    "NocoDB Webhook": {
      "main": [
        [{ "node": "Check Submission", "type": "main", "index": 0 }]
      ]
    },
    "Check Submission": {
      "main": [
        [{ "node": "Analyze Application", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "Analyze Application", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Analyze Application": {
      "main": [
        [{ "node": "Update Notes", "type": "main", "index": 0 }]
      ]
    },
    "Update Notes": {
      "main": [
        [{ "node": "Respond Analyzed", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3d4e5f6-3333-4444-9555-dddd00000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3960a2463a75a85b31cb3db12639be3d0681722b12e96a1eafac4819449813e5"
  },
  "id": "wOAlFGT45KS96zwB",
  "tags": []
}
