devcon/src/scripts/n8n/devcon-student-application-email-prod.json
{
  "name": "Devcon Student Application Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-application-status",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1184, 1008],
      "id": "fc1a26f4-5faf-4308-b29c-690ad92f807b",
      "name": "NocoDB Webhook",
      "webhookId": "student-application-status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s4qe0oPUqidtfYbR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.rows[0].Status }}",
                    "rightValue": "Validated",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Validated"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.rows[0].Status }}",
                    "rightValue": "Rejected",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Email"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-880, 1008],
      "id": "14dafc91-1523-4194-b8fb-1fa573691232",
      "name": "Check Status"
    },
    {
      "parameters": {
        "fromEmail": "\"Devcon\" <noreply@devcon.org>",
        "toEmail": "={{ $json.body.data.rows[0].Email }}",
        "subject": "Your Devcon 8 Student Application Has Been Validated!",
        "html": "=<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\" /></head><body style=\"margin:0;padding:0;background-color:#f5f3f7;font-family:'Poppins','Segoe UI',Tahoma,Geneva,Verdana,sans-serif\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f5f3f7;padding:40px 16px\"><tr><td align=\"center\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 8px rgba(22,11,43,0.08)\"><tr><td style=\"background:#1a0d33;padding:32px 32px 24px;text-align:center\"><img src=\"https://devcon.org/email/devcon-logo-white.svg\" alt=\"Devcon 8\" width=\"149\" height=\"64\" style=\"display:inline-block;max-width:149px\" /></td></tr><tr><td style=\"padding:32px\"><h2 style=\"margin:0 0 16px;font-size:22px;font-weight:800;color:#1a0d33\">Congratulations, {{ $json.body.data.rows[0][\"Full Name\"] || \"Applicant\" }}!</h2><p style=\"margin:0 0 16px;font-size:16px;line-height:1.6;color:#1a0d33\">Your student application for Devcon 8 has been <strong style=\"color:#16a34a\">Validated</strong>.</p><p style=\"margin:0 0 24px;font-size:16px;line-height:1.6;color:#1a0d33\">We're excited to have you join us! You'll receive more details about next steps, including how to claim your student ticket, in a follow-up email.</p><h3 style=\"margin:0 0 12px;font-size:18px;font-weight:700;color:#1a0d33\">What happens next?</h3><ul style=\"margin:0 0 24px;padding-left:20px;font-size:15px;line-height:1.6;color:#1a0d33\"><li style=\"margin-bottom:8px\">Keep an eye on your inbox for ticket purchase instructions.</li><li style=\"margin-bottom:8px\">Join the Devcon community channels for updates.</li><li>Start planning your Devcon experience!</li></ul><div style=\"text-align:center\"><a href=\"https://devcon.org\" style=\"display:inline-block;padding:14px 32px;font-size:16px;font-weight:700;color:#ffffff;background-color:#7235ed;border-radius:9999px;text-decoration:none\">Visit devcon.org</a></div></td></tr><tr><td style=\"padding:24px 32px;background:#f9f8fa;border-top:1px solid #dddae2;text-align:center\"><p style=\"margin:0;font-size:13px;color:#594d73;line-height:1.5\">See you at Devcon!<br/>The Devcon Team</p></td></tr></table></td></tr></table></body></html>",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-576, 848],
      "id": "32258c10-d5e2-438d-b5db-efb77f54a187",
      "name": "Send Approval Email",
      "webhookId": "8d4d7653-d8d6-473b-b8b6-61a7963d4f0e",
      "credentials": {
        "smtp": {
          "id": "VLs4nvOO7DtrD8ee",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "\"Devcon\" <noreply@devcon.org>",
        "toEmail": "={{ $json.body.data.rows[0].Email }}",
        "subject": "Devcon 8 Student Application — Update",
        "html": "=<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\" /></head><body style=\"margin:0;padding:0;background-color:#f5f3f7;font-family:'Poppins','Segoe UI',Tahoma,Geneva,Verdana,sans-serif\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f5f3f7;padding:40px 16px\"><tr><td align=\"center\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 8px rgba(22,11,43,0.08)\"><tr><td style=\"background:#1a0d33;padding:32px 32px 24px;text-align:center\"><img src=\"https://devcon.org/email/devcon-logo-white.svg\" alt=\"Devcon 8\" width=\"149\" height=\"64\" style=\"display:inline-block;max-width:149px\" /></td></tr><tr><td style=\"padding:32px\"><h2 style=\"margin:0 0 16px;font-size:22px;font-weight:800;color:#1a0d33\">Hi {{ $json.body.data.rows[0][\"Full Name\"] || \"Applicant\" }},</h2><p style=\"margin:0 0 16px;font-size:16px;line-height:1.6;color:#1a0d33\">Thank you for applying to the Devcon 8 student program. After reviewing your application, we're unable to offer you a student ticket at this time.</p><p style=\"margin:0 0 24px;font-size:16px;line-height:1.6;color:#1a0d33\">We received a high volume of applications and had to make difficult decisions. This does not reflect on your potential — we encourage you to apply again for future events.</p><p style=\"margin:0 0 24px;font-size:16px;line-height:1.6;color:#1a0d33\">You can still attend Devcon by purchasing a regular ticket when they become available.</p><div style=\"text-align:center\"><a href=\"https://devcon.org\" style=\"display:inline-block;padding:14px 32px;font-size:16px;font-weight:700;color:#ffffff;background-color:#7235ed;border-radius:9999px;text-decoration:none\">Visit devcon.org</a></div></td></tr><tr><td style=\"padding:24px 32px;background:#f9f8fa;border-top:1px solid #dddae2;text-align:center\"><p style=\"margin:0;font-size:13px;color:#594d73;line-height:1.5\">Thank you for your interest in Devcon.<br/>The Devcon Team</p></td></tr></table></td></tr></table></body></html>",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-496, 1040],
      "id": "6c508b97-cda5-4334-9190-e2c9740abc02",
      "name": "Send Rejection Email",
      "webhookId": "dfc524d3-ef3e-4dfa-94f7-fccc52d8573a",
      "credentials": {
        "smtp": {
          "id": "VLs4nvOO7DtrD8ee",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: 'Validated' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-272, 848],
      "id": "c2b051ea-a8c4-45fe-9958-a4e63464934c",
      "name": "Respond Validated"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: 'Rejected' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-272, 1152],
      "id": "8a8553d4-0c27-4851-975f-9c26dc3069a3",
      "name": "Respond Rejected"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, skipped: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-272, 1360],
      "id": "8d2852c0-db85-43ad-a4e4-04e47938ad11",
      "name": "Respond Skipped"
    }
  ],
  "pinData": {
    "NocoDB Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "x-webhook-key": "test-secret"
          },
          "body": {
            "type": "records.after.update",
            "id": "mock-test-001",
            "base_id": "p964xl4nowbllvq",
            "version": "v3",
            "data": {
              "table_id": "m3bqjjne9mqgnue",
              "table_name": "Student Application",
              "previous_rows": [
                {
                  "Id": 1,
                  "Full Name": "Didier",
                  "University / Organization": "ETH Zurich",
                  "Year of Study": "3rd Year",
                  "Country": "France",
                  "Why do you want to attend Devcon? (Proof of Work)": "I've been contributing to EIP-4844 research and building rollup infrastructure.",
                  "Status": "To review",
                  "Email": "didier.krux@ethereum.org"
                }
              ],
              "rows": [
                {
                  "Id": 1,
                  "Full Name": "Didier",
                  "University / Organization": "ETH Zurich",
                  "Year of Study": "3rd Year",
                  "Country": "France",
                  "Why do you want to attend Devcon? (Proof of Work)": "I've been contributing to EIP-4844 research and building rollup infrastructure.",
                  "Status": "Validated",
                  "Email": "didier.krux@ethereum.org"
                }
              ]
            }
          }
        }
      }
    ]
  },
  "connections": {
    "NocoDB Webhook": {
      "main": [
        [{ "node": "Check Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Status": {
      "main": [
        [{ "node": "Send Approval Email", "type": "main", "index": 0 }],
        [{ "node": "Send Rejection Email", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Send Approval Email": {
      "main": [
        [{ "node": "Respond Validated", "type": "main", "index": 0 }]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [{ "node": "Respond Rejected", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3f95b01b-5813-4225-99bf-6c6a7a19bd91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3960a2463a75a85b31cb3db12639be3d0681722b12e96a1eafac4819449813e5"
  },
  "id": "wOAlFGT45KS96zw8",
  "tags": []
}
