devcon/src/scripts/n8n/devcon-student-application-confirmation-email-prod.json
{
  "name": "Devcon Student Application Confirmation Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-application-submitted",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1184, 1008],
      "id": "b2e3c4d5-2222-4333-9444-bbbb00000001",
      "name": "NocoDB Webhook",
      "webhookId": "student-application-submitted",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s4qe0oPUqidtfYbR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "records.after.insert",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "leftValue": "={{ !!($json.body.data.rows[0].Email) }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Submitted"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Email"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-880, 1008],
      "id": "b2e3c4d5-2222-4333-9444-bbbb00000002",
      "name": "Check Submission"
    },
    {
      "parameters": {
        "fromEmail": "\"Devcon\" <noreply@devcon.org>",
        "toEmail": "={{ $json.body.data.rows[0].Email }}",
        "subject": "We've Received Your Devcon 8 Student Application",
        "html": "=<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\" /></head><body style=\"margin:0;padding:0;background-color:#f5f3f7;font-family:'Poppins','Segoe UI',Tahoma,Geneva,Verdana,sans-serif\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f5f3f7;padding:40px 16px\"><tr><td align=\"center\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 8px rgba(22,11,43,0.08)\"><tr><td style=\"background:#1a0d33;padding:32px 32px 24px;text-align:center\"><img src=\"https://devcon.org/email/devcon-logo-white.svg\" alt=\"Devcon 8\" width=\"149\" height=\"64\" style=\"display:inline-block;max-width:149px\" /></td></tr><tr><td style=\"padding:32px\"><h2 style=\"margin:0 0 16px;font-size:22px;font-weight:800;color:#1a0d33\">Thanks for applying, {{ $json.body.data.rows[0][\"Legal name\"] || \"Applicant\" }}!</h2><p style=\"margin:0 0 16px;font-size:16px;line-height:1.6;color:#1a0d33\">We've received your student application for Devcon 8. Our team will review it carefully over the coming weeks.</p><p style=\"margin:0 0 24px;font-size:16px;line-height:1.6;color:#1a0d33\">You'll hear back from us by email once a decision has been made — no action is needed from you in the meantime.</p><h3 style=\"margin:0 0 12px;font-size:18px;font-weight:700;color:#1a0d33\">What happens next?</h3><ul style=\"margin:0 0 24px;padding-left:20px;font-size:15px;line-height:1.6;color:#1a0d33\"><li style=\"margin-bottom:8px\">Our review team will evaluate each application individually.</li><li style=\"margin-bottom:8px\">You'll get an email with the result once your application is reviewed.</li><li>If approved, you'll receive instructions to claim your student ticket.</li></ul><div style=\"text-align:center\"><a href=\"https://devcon.org\" style=\"display:inline-block;padding:14px 32px;font-size:16px;font-weight:700;color:#ffffff;background-color:#7235ed;border-radius:9999px;text-decoration:none\">Visit devcon.org</a></div></td></tr><tr><td style=\"padding:24px 32px;background:#f9f8fa;border-top:1px solid #dddae2;text-align:center\"><p style=\"margin:0;font-size:13px;color:#594d73;line-height:1.5\">Thank you for your interest in Devcon.<br/>The Devcon Team</p></td></tr></table></td></tr></table></body></html>",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-560, 944],
      "id": "b2e3c4d5-2222-4333-9444-bbbb00000003",
      "name": "Send Confirmation Email",
      "webhookId": "b2e3c4d5-2222-4333-9444-cccc00000003",
      "credentials": {
        "smtp": {
          "id": "VLs4nvOO7DtrD8ee",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: 'Submitted' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-272, 944],
      "id": "b2e3c4d5-2222-4333-9444-bbbb00000004",
      "name": "Respond Submitted"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, skipped: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-272, 1168],
      "id": "b2e3c4d5-2222-4333-9444-bbbb00000005",
      "name": "Respond Skipped"
    }
  ],
  "pinData": {
    "NocoDB Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "x-webhook-key": "test-secret"
          },
          "body": {
            "type": "records.after.insert",
            "id": "4ace892c-74f1-4aae-b768-1f3a9087b3f5",
            "base_id": "pafi37jhnepkptw",
            "version": "v3",
            "data": {
              "table_id": "mv48rkqyllfpra6",
              "table_name": "Student Application",
              "rows": [
                {
                  "Id": 32,
                  "CreatedAt": "2026-04-23 12:29:47+00:00",
                  "UpdatedAt": null,
                  "Legal name": "Didier",
                  "Submission Date": "2026-04-23 12:29:47+00:00",
                  "Email Classification": "other-indian-university",
                  "Email": "didier.krux@ethereum.org",
                  "University / Organization": "Uni",
                  "Year of Study": "4th Year",
                  "Country": "France",
                  "Why do you want to attend Devcon? (Proof of Work)": "I've been contributing to EIP-4844 research and building rollup infrastructure.",
                  "Status": "To review",
                  "Rating": null,
                  "Notes": null,
                  "Confirmation email sent": null
                }
              ]
            }
          }
        }
      }
    ]
  },
  "connections": {
    "NocoDB Webhook": {
      "main": [
        [{ "node": "Check Submission", "type": "main", "index": 0 }]
      ]
    },
    "Check Submission": {
      "main": [
        [{ "node": "Send Confirmation Email", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [{ "node": "Respond Submitted", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b2e3c4d5-2222-4333-9444-dddd00000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3960a2463a75a85b31cb3db12639be3d0681722b12e96a1eafac4819449813e5"
  },
  "id": "wOAlFGT45KS96zwA",
  "tags": []
}
